.container{
width: 1024px;
height: 768px;
background-color: black;
border: 3px solid blue;
}

.footer{
	background-image: url(http://i.imgur.com/vx4adcg.png);
	height: 20%;
	width: 100%;

}

.raindrop{
	background-image: url(http://i.imgur.com/d1ltbRA.png);
	height: 32px;
	width: 32px;
	background-size: contain;
	background-repeat: no-repeat;
}

.game{
	height: 80%;
}